* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}
.bg-img {
   background-image: url(first_furniture.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   min-height: 100vh;
}
.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-container {
   display: flex;
}
.nav-bar {
   margin: auto;
}
.nav-bar li {
   list-style-type: none;
   padding: 14px 20px;
   margin-right: 10px;
}
a {
   text-decoration: none;
   color: #ffffff;
}
.company-name a {
   float: left;
   color: red;
}
.about-us {
   padding: 30px;
   background-color: #eff2f6;
}
.about-container {
   overflow: hidden;
   background-color: #eff2f6;
   /* border: 1px solid red; */
}
.images-container {
   display: flex;
   justify-content: center;
   /* border: 1px solid green; */
}
.images-container img {
   width: 26.3333%;
   margin-left: 20px;
   border-radius: 30px;
}
.about-des {
   margin-left: 20px;
   width: 100%;
   text-align: center;
   /* border: 1px solid red; */
}
.gallery {
   padding: 20px;
}
.gallery-container {
   flex-wrap: wrap;
   gap: 8px;
}
.gallery-container img {
   width: 28.33333%;
}
.Testimonial {
   text-align: center;
   flex-direction: column;
   padding: 10px;
   margin-top: 20px;
   gap: 10px;
}
.creator-info {
   background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
   background-blend-mode: screen, color-dodge, overlay, difference, normal;
   margin-top: 50px;
   height: 200%;
}
.card {
   background-color: #ffffff;
   margin: 100px;
   padding: 40px;
   max-height: 300%;
   border-radius: 50px;
   /* border: 1px solid red; */
}
.card-info {
   padding: 30px;
   gap: 10px;
}
.card img {
   width: 150px;
   border-radius: 50%;
   height: 150px;
}
.card-info p {
   padding: 10px;
}
.contact-us {
   background-color: #eff2f6;
   padding: 10px;
}
.contact-intro {
   padding: 30px;
   text-align: center;
}
.form {
   background-color: #ffffff;
   gap: 30px;
}
form {
   width: 50.333%;
}
input[type="text"],
input[type="email"],
input[type="submit"] {
   padding: 4.5px 12px 3.68px;
   width: 100%;
   border: 1px solid red;
   margin: 10px 0;
}

/* @media screen and (max-width: 992px);{

}
@media screen and (max-width: 600px){

} */ ;
