/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
}
html,
body {
   height: 100%;
}
body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}
input,
button,
textarea,
select {
   font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}
#root,
#__next {
   isolation: isolate;
}
* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}

.bg-img {
   background-image: url(first_furniture.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   min-height: 100vh;
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-container {
   display: flex;
   font-family: Poppins, sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #c8c4bc;
}

.nav-bar {
   margin: auto;
}

.nav-bar li {
   list-style-type: none;
   padding: 14px 20px;
   margin-right: 10px;
}
a {
   text-decoration: none;
   color: #ffffff;
}
.company-name a {
   float: left;
   color: #ffff;
   font-family: Poppins, sans-serif;
   font-size: 48px;
   font-weight: 500;
   line-height: 77px;
}
.about-us {
   padding: 30px;
   background-color: #eff2f6;
   font-family: Poppins, sans-serif;
   font-size: 20px;
   font-weight: 200;
   line-height: 40px;
   color: #4f4f4f;
}
.about-des h2 {
   font-family: Raleway, sans-serif;
   font-size: 28px;
   font-weight: 500;
   line-height: 34px;
   color: #4f4f4f;
}
.about-des p {
   font-family: Raleway, sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 20px;
   color: #4f4f4f;
}
.about-container {
   gap: 20px;
   background-color: #eff2f6;
}
.images-container {
   display: grid;
   gap: 20px;
   width: 100%;
   align-items: end;
}
.images-container img {
   border-radius: 30px;
}
.about-des {
   width: 100%;
   text-align: center;
}
.gallery {
   padding: 20px;
}
h1 {
   font-family: Poppins, sans-serif;
   font-size: 40px;
   font-weight: 500;
   line-height: 48px;
   color: #4f4f4f;
   margin-top: 10px;
}
.gallery-container {
   display: grid;
   gap: 10px;
   padding: 10px;
   margin: 20px auto;
}
.gallery-container img {
   width: 100%;
   height: 400px;
   object-fit: cover;
}
.Testimonial {
   text-align: center;
   flex-direction: column;
   padding: 10px;
   margin-top: 20px;
   gap: 10px;
}
.Testimonial h4 {
   font-family: Raleway, sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;
   color: #fa6400;
}
h3 {
   font-family: Raleway, sans-serif;
   font-size: 28px;
   font-weight: 500;
   line-height: 34px;
   color: #4f4f4f;
}
.Testimonial p {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   font-weight: 200;
   line-height: 20px;
   color: #4f4f4f;
}
.creator-info {
   background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
   background-blend-mode: screen, color-dodge, overlay, difference, normal;
   margin-top: 50px;
   padding: 100px 5%;
}
.card {
   background-color: #ffffff;
   padding: 40px;
   margin: auto 0;
   border-radius: 50px;
}
.card-info {
   padding: 30px;
   gap: 10px;
}
.card-info h1 {
   font-family: Raleway, sans-serif;
   font-size: 24px;
   font-weight: 500;
   line-height: 29px;
   color: #4f4f4f;
   margin-bottom: 20px;
}
.card-info p {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #4f4f4f;
}
.card img {
   width: 150px;
   border-radius: 50%;
   height: 150px;
}

.contact-us {
   background-color: #eff2f6;
   margin-top: 50px;
   padding: 40px;
}
.contact-intro {
   padding: 10px;
   text-align: center;
}
.form {
   background-color: #ffffff;
   padding: 30px;
   margin: 30px 10px;
   border-radius: 20px;
   gap: 30px;
}
input[type="text"],
input[type="email"],
button {
   padding: 12px 10px;
   width: 100%;
   border: 1px solid #4f4f4f;
   border-radius: 5px;
   margin: 10px 0;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #4f4f4f;
}
input[type="submit"],
button {
   border: none;
   background-color: #fa6400;
   color: #fff;
}
input[type="submit"] {
   padding: 12px 10px;
   width: 100%;
   border: 1px solid #4f4f4f;
   border-radius: 5px;
   margin: 10px 0;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #fff;
}
label {
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #4f4f4f;
}
textarea {
   width: 100%;
   padding: 20px 30px;
   margin: 10px 0;
}
.form-intro {
   margin-bottom: 20px;
}
.form-img img {
   border-radius: 20px;
   box-shadow: 0px 4px 50px 5px rgb(0 0 0 / 50%);
}
.footer {
   color: #fff;
   gap: 40px 100px;
   margin-top: 0;
   padding: 20px;
   align-items: start;
}
.footer-container {
   background-color: #485362;
   margin-bottom: 0px;
   padding-top: 50px;
}
.footer h4 {
   font-family: Raleway, sans-serif;
   font-size: 24px;
   font-weight: 500;
   line-height: 29px;
   margin-bottom: 10px;
}
.footer ul {
   padding-left: 20px;
}
.footer a,
.footer p {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 32px;
   color: #fff;
}
.line {
   margin: 20px;
}
hr {
   border-top: 1px solid;
   opacity: 0.25;
   color: inherit;
}
.line p {
   text-align: center;
   margin: 20px;
   font-family: Raleway, sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
}
/* might be a mistake */
/* @media (min-width: 769px) {
   .newsletter {
      width: 20%;
   }
} */
/* large screens upward */
@media (min-width: 993px) {
   .card {
      max-width: 831px;
   }
}
@media (min-width: 769px) {
   .gallery-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      max-width: 80%;
   }

   .images-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
   .md-col-span-2 {
      grid-column: span 2;
   }
   .newsletter {
      width: 20%;
   }
}
@media screen and (max-width: 992px) {
   h1 {
      font-size: 50px;
   }
   p {
      font-size: 25px;
   }
}
/* tablet and above */
@media screen and (max-width: 768px) {
   .bg-img {
      min-height: 50vh;
   }
   .nav-container {
      max-width: 5vw;
      padding: 10px;
   }
   .nav-bar {
      border: 1px solid red;
      /* max-width: 2vw; */
   }
   .nav-bar li {
      padding: 2px 5px;
      gap: 20px;
   }
   .company-name {
      padding: 5px;
   }
   .form {
      flex-wrap: wrap;
   }
   .footer {
      flex-wrap: wrap;
      justify-content: start;
   }
   .about-container {
      flex-wrap: wrap;
   }
   .card {
      flex-wrap: wrap;
      padding-inline: 3%;
      text-align: center;
   }
}
/* * mobile */
@media (max-width: 576px) {
   .contact-us {
      padding: 0;
   }
   .footer {
      flex-direction: column;
      align-items: start;
      justify-content: start;
   }
   .images-container img {
      height: 400px;
      width: 100%;
      border-radius: 20px;
   }
}
